@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/gentium/gentiumgentium-book-basic-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Gentium Book Basic Bold'), local('GentiumBookBasic-Bold'),
       url('../fonts/gentium/gentiumgentium-book-basic-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gentium/gentiumgentium-book-basic-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gentium/gentiumgentium-book-basic-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/gentium/gentiumgentium-book-basic-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gentium/gentiumgentium-book-basic-v8-latin-700.svg#GentiumBookBasic') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: "YesevaOneRegular";
  src: url("../fonts/YesevaOneRegular/YesevaOneRegular.eot");
  src: url("../fonts/YesevaOneRegular/YesevaOneRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/YesevaOneRegular/YesevaOneRegular.woff") format("woff"),
  url("../fonts/YesevaOneRegular/YesevaOneRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/Lato/LatoRegular.eot");
  src: url("../fonts/Lato/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Lato/LatoRegular.woff") format("woff"),
  url("../fonts/Lato/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/Open-sans/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/Open-sans/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Open-sans/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("../fonts/Open-sans/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/Open-sans/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/Open-sans/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Open-sans/OpenSansItalic/OpenSansItalic.woff") format("woff"),
  url("../fonts/Open-sans/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/Open-sans/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/Open-sans/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Open-sans/OpenSansBold/OpenSansBold.woff") format("woff"),
  url("../fonts/Open-sans/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: "LatoRegular", Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 320px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
a{
  transition: all ease .2s;
}
.wrapper{
  max-width: 1600px;
  margin: 0 auto;
}
.main_header{
  background: #624f48 url(../img/bg.jpg) center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding-bottom: 160px;
}
.main_header a{
  color: #ffffff;
  text-decoration: none;
}
.top_header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
.logo{
  flex-grow: 1;
  text-align: left;
  position: relative;
  top: 7px;
}
.social_links{
  display: flex;
  padding: 43px 23px 0 0;
}
.social_links a{
  background: url(../img/Social.png) no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
a.social_link--youtube{
  background-position: -35px 0;
}
a.social_link--facebook{
  background-position: -67px 0;
}
.header_menu{
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.header_menu .menu_link{
  display: block;
  padding: 43px 28px 0;
  border-top: 3px solid transparent;
  font-size: 21px;
  font-family: 'Gentium Book Basic', 'Times New Roman', Times, serif;
}
.header_menu .menu_link:hover{
  color: #def8bf;
}
.header_menu .menu_link.menu_link--curent{
  border-top: 3px solid #fff;
}
.heading{
  margin-top: 145px;
  text-transform: lowercase;
  text-align: center;
  font-size: 90px;
  background: url(../img/Decoration.png) center bottom no-repeat;
  margin-bottom: 47px;
  font-family: "YesevaOneRegular", 'Times New Roman', Times, serif;
  font-weight: normal;
  padding: 0 80px 71px;
  line-height: 117px;
}
.main_btn{
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  padding: 18px 48px;
  margin: 0 15px;
  cursor: pointer;
}
.main_btn__black{
  border: 1px solid #000;
  background: rgba(0,0,0,.5);
}
.main_btn__black:hover{
  background: rgba(0,0,0,.6);
}
.main_btn__white{
  border: 1px solid #fff;
  background: rgba(255,255,255,.2);
}
.main_btn__white:hover{
  background: rgba(255,255,255,.1);
}
section.about_food{
  background: url(../img/dish.png) right 240px top 60px no-repeat, url(../img/pattern2.png), linear-gradient( 130deg, #fff 50%, #e8e8e8);
  box-shadow: inset 5px 5px 50px rgba(1,1,1,.1);
  padding: 100px 0 110px;
  text-align: center;
}
section.about_food .content_wrapper{
  max-width: 430px;
  margin-left: 112px;
}
.section_title{
  color: #cc9900;
  font-family: "YesevaOneRegular",'Times New Roman', Times, serif;
  font-weight: normal;
  font-size: 36px;
  background: url(../img/decor2.png) no-repeat center bottom;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
.main_text{
  font-size: 16px;
  line-height: 24px;
  color: #4c4c4c;
}
section.about_food .main_text{
  margin-bottom: 50px;
}
.img_wrapper{
  padding-left: 66px;
}
section.about_ingredients{
  background: url(../img/bg-ingr.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 100px 0;
}
section.about_ingredients .content_wrapper{
  max-width: 570px;
  background: rgba(0,0,0,.67);
  float: right;
  padding: 75px 75px 87px;
  margin-right: 40px;
}
.section_title__white{
  color: #ffffff;
  background: url(../img/decor3.png) center bottom no-repeat;
}
section.about_ingredients .main_text{
  color: #ffffff;
}
.imgages_wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0 25px;
}
.ingredient_pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, .09 )
}
section.menu{
  padding: 102px 0 35px;
  background:  url(../img/pattern3.png), linear-gradient( 134deg, rgba(32, 90, 91, .09) 1%,  #fff 40%);
  box-shadow: inset 0 0 50px rgba(1,1,1,.05);
}
.menu .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 0 100px;
}
.menu_part{
  width: 43%;
}
.dish{
  margin-bottom: 11px;
  padding: 10px 10px;
}
.dish--special{
  background: url(../img/border.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.dish--special:before{
  content: "Special";
  position: absolute;
  right: 0;
  top: -20px;
  padding: 2px 10px;
  background: url(../img/label.jpg) center no-repeat;
  background-size: cover;
  color: #ffffff;
  font-size: 14px;
}
.dish_main_info{
  display: flex;
  justify-content: space-between;
  background: url(../img/line.png) center bottom no-repeat;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.dish .main_text{
  text-align: left;
}
.dish_title,
.price{
  font-size: 21px;
  line-height: 24px;
  color: #c89f2d;
  font-family: "YesevaOneRegular", 'Times New Roman', Times, serif;
  font-weight: normal;
}
.dishes_group{
  margin-bottom: 55px;
}
section.reviews{
  background: url(../img/review.jpg) center no-repeat;
  background-size: cover;
}
section.reviews{
  padding: 100px 0;
  text-align: center;
}
section.reviews .content_wrapper{
  background: rgba(0,0,0,.8);
  max-width: 770px;
  margin: 0 auto;
  padding: 75px 85px 97px;
}
section.reviews .content_wrapper .main_text{
  font-family: 'Gentium Book Basic', 'Times New Roman', Times, serif;
  font-size: 25px;
  line-height: 45px;
  color: #dee0e0;
  position: relative;
}
section.reviews .content_wrapper .main_text:before{
  content: '';
  width: 32px;
  height: 25px;
  position: absolute;
  top: -10px;
  left: -54px;
  background: url(../img/quots.png) center no-repeat;
}
.author{
  color: #fff;
  font-size: 18px;
  margin-top: 34px;
  display: inline-block;
}
section.booking{
  background: url(../img/pattern2.png), linear-gradient( 130deg, #fff 50%, #e8e8e8);
  box-shadow: inset 5px 5px 50px rgba(1,1,1,.1);
  text-align: center;
  padding: 96px 285px 85px 205px;
}
section.booking .container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.food_picture{
  margin: 0 10px;
}
.booking_description{
  max-width: 430px;
  margin-left: 75px;
}
.booking_description .main_text{
  margin-bottom: 8px;
}
.booking_form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
}
.booking_form fieldset{
  width: 200px;
  border: none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 24px;
}
.form_label{
  display: block;
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #c9a131;
  margin-bottom: 3px;
}
.form_input{
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #c8c6c6;
  font-family: "OpenSansItalic", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  padding: 6px 16px;
  width: 100%;
}
::-webkit-input-placeholder {
  color: #7c7c7c;
}
::-moz-placeholder { 
  color: #7c7c7c;
}
:-ms-input-placeholder { 
  color: #7c7c7c;
}
:-moz-placeholder { 
  color: #7c7c7c;
}
.form_input:focus{
  border: 1px solid #c89f2d;
}
.form_input--date{
  background: rgba(255, 255, 255, 0.4) url(../img/date.png) right 15px center no-repeat;
}
.form_select{
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #c8c6c6;
  font-family: "OpenSansItalic", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  padding: 5px 10px;
  max-width: 200px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: rgba(255, 255, 255, 0.4) url(../img/arrow.png) right 15px center  no-repeat;
  color: #7c7c7c;
}
.main_btn--gold{
  background: #c89f2d;
  border: none;
  text-transform: capitalize;
  width: 200px;
  margin: 0 auto;
  padding: 5px 0;
}
.main_btn--gold:hover{
  background: #cea229;
}
.booking_form .button_wrapper{
  width: 100%;
  text-align: center;
  padding-top: 9px;
}
.main_footer{
  position: absolute;
  bottom: 0;
  background: #191919;
  color: #fff;
  width: 1600px;
  padding: 52px 0 72px;
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
}
.main_footer .section_title__small{
  margin-bottom: 30px;
  padding-bottom: 30px;
  background: url(../img/decor-sm.png) center bottom no-repeat;
}
.main_footer .container{
  display: flex;
  justify-content: space-between;
}
.main_footer .about{
  width: 32%;
  text-align: center;
  padding: 0 0 0 50px;
}
.main_footer .about_work{
  width: 31%;

}
.main_footer .location{
  width: 31%;
}
.main_footer .main_text{
  color: #ffffff;
  text-align: center;
}
.main_footer .main_text .bold{
  font-family: "OpenSansBold", Arial, sans-serif;
}
.section_title__small{
  font-size: 21px;
  text-align: center;
}
.payments{
  margin: 30px auto 0;
  text-align: center;
}
.main_footer .bold_text{
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-family: "OpenSansBold", Arial, sans-serif;
}
.main_footer .social_links{
  justify-content: center;
  padding: 0;
  margin-top: 58px;
}
.main_footer .social_links a{
  background: url(../img/social-f.png) center no-repeat;
  width: 20px;
}
.main_footer .social_links a.social_link--facebook{
  background-position: 0px center;
}
.main_footer .social_links a.social_link--youtube{
  background-position: -18px center;
}
.main_footer .social_links a.social_link--twitter{
  background-position: -44px center;
}
.main_footer .social_links a.social_link--smth{
  background-position: -70px center;
}
.social_links a:hover{
  opacity: .7;
}
